doctype html
html
  head
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.0/js/foundation.min.js")
    link(rel="stylesheet" href="js/main.js")
    title Recycle
  body
    h1 Nashville Area Recycle Centers
    
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(type="text/javascript" src="js/main.js")
